* {
    background-color: var(--preto);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;

}

:root {
    --preto: #000000;
    --vermelho: #84141A;
    --branco: #ffffff;
    --azul: #0C1556;
    --amarelo: #FBC02C;

    --font1: 'helvetica-compressed-5871d14b6903a.otf';
    --font2: 'TTNorms-Regular.otf';
}


/* Cabeçalho */
header {
    background-color: var(--preto);
    height: 50px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.posicionamento {
    width: 1400px;
    margin: 0 auto;
}

.posicionamento_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.posicionamento_header img {
    width: 35px;
    height: 28px;
}

.posicionamento_header>span {
    padding-left: 10px;
}

.logo {
    display: flex;
    align-items: center;
    color: var(--amarelo);
    width: 20px;
    height: 27px;
}

header nav {
    /* background-color: brown; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 450px;
}

header a {
    color: var(--amarelo);
    text-transform: uppercase;
    text-decoration: none;
    font-family: var(--font1);
    font-size: 18px;
}

/* barra de pesquisa */

#divBusca {
    background-color: #E0EEEE;
    border: solid 2px #fdf9f900;
    border-radius: 10px;
    width: 320px;
    height: 31px;

}

#txtBusca {
    float: left;
    background-color: transparent;
    padding-left: 5px;
    font-size: 20px;
    border: none;
    height: 27px;
    width: 243px;
    border-radius: 8px;
}

#btnBusca {
    border: none;
    float: right;
    height: 28px;
    border-radius: 7px;
    width: 70px;
    font-weight: bold;
    background: #FBC02C;
    ;
}

#divBusca img {
    float: left;
}






/* Filmes */


h2{
    color: var(--amarelo);
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
}

.paragrafo_inicial{
    color: var(--amarelo);
    font-size: 35px;
    text-align: center;
    padding-bottom: 30px;
}


.banner_trailer{
    display: flex;
    justify-content: center;
}
.batman img{
    height: 400px;
    margin: 0px 30px;
    border: solid 1px  #FBC02C;
    border-radius: 10px;
}

.botoes1 {
    display: flex;
    justify-content: space-around;
   }

 .bt1{
    border: solid 1px #FBC02C;
    font-size: 12px;
    text-align: center;
    width: 105px;
    border-radius: 10px;
 }

 .bt2 {
    border: solid 1px #FBC02C;
    font-size: 12px;
    text-align: center;
    width: 105px;
    border-radius: 10px;
 }

.botoes2{
    display: flex;
    justify-content: space-around;
}

.recomendar{
background-color: var(--amarelo);
color: #000000;
border: solid 0,5px #FBC02C;
width: 120px;
border-radius: 10px;
}
.coração{
    height: 50px;
}

.trailer a{
    height: 300px;
    margin: 0px 50px;
    width: 90%;
    border: #FBC02C;
  }


/* seção 2 */

.sinopse{
    margin: 35px 0px 35px 0px;
    color: white;
    border-right: #FBC02C 1px solid;
    line-height: 25px;
    width: 65%;
    font-size: 18px;
}

.topico{
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: yellow 1px solid;
    width: 65%;
}

.bonecos{
    width: 70px;
    height: 70px;
}

  .grupo1{
    display: flex;
    width: 65%;
    align-items: center;
}

.img1{
    margin: 30px 0px 30px 30px;
    width: 80px;
    height: 80px;
}

.ator{
    color: #fbc02c;
    padding-left: 10px;
    font-size: 30px;
    text-align: left;
    font-weight: bold;
    }

.personagem{
    color:#E0EEEE;
    padding-left: 5px;
    font-size: 20px;
    text-align: left;
}



.mais{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.btmais{
width: 50px;
height: 50px;
}

.balao_comentario{
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comentarios{
    text-align: center;
    font-size: 20px;
    color: #fbc02c;
}




/* footer */


.img-footer {
    margin-top: 200px;
    width: 100%;
    background-size: cover;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 66.67%, #000000 100%), url(cinema_foto_pexels.jpg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.46);
}

ul {
    color: var(--amarelo);
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

footer>div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: var(--branco);
}
footer>div>span,p{
    margin-top: 10px;
    color: var(--amarelo);
    text-align: center;
}

footer>div>img {
    width: 20px;
    height: 27px;
}
