*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --font1:'Archivo', sans-serif;
    --cor1: #FBC02C;
}
body{
    background-color: black;
}
header{
    height: 50px;
    background-color: black;
    display: flex;
    align-items: center;
}
header h1{
    font-family: var(--font1);
    color: var(--cor1);
    margin-left: 10px;
    font-size: 30px;
}
span{
    display: flex;
    align-items: center;
    /* margin: 30px 20px 10px 10px; */
    /* justify-content: center; */
    gap: 10px;
    margin: 10px 0px;
    cursor: pointer;
}
.textomenu{
    font-size: 20px;
    font-family: var(--font1);
    color: var(--cor1);
}
nav{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    gap: 10px; */
}
.sidebar{
    position: fixed;
    /* top: 0; */
    display: flex;
    flex-direction: column;
    width: 166px;
    height: 100%;
    padding: 20px 20px 10px 5px;
    border-right: 1px solid #FBC02C;
}
.sidebar button{
    background-color: transparent;
    border: 0;
    padding: 0;
}

/* Formulário de envio */

main{
    max-width: 1100px;
    margin: 0 auto;
}

.newPost{
    background: #DCE0E6;
    width: 100%;
    height: 170px;
    display: flex;
    /* flex-direction: column; */
    align-items: flex-start;
    margin: 50px 0;
    padding: 17px 13px;
    border: 2px solid var(--cor1);
    border-radius: 3px;
}

div.newPost div.infoUser{
    display: flex;
    align-items: center;
    justify-content: center;
}

div.newPost div.infoUser div.imgUser{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #333;
}

div.newPost form.formPost{
    display: flex;
    flex-direction: column;
    width: 100%;
}

div.newPost form.formPost textarea{
    background-color: #DCE0E6;
    padding: 20px;
    margin: 15px 5px;
    border: transparent;
    resize: none;
    outline: none;
    font-family: var(--font1);
    /* font-weight: bold; */
    color: black;
}

.iconsUser{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid black;
}

.icons{
    margin-top: 7px;
}

.btnFileForm{
    outline: none;
    background: transparent;
    border: transparent;
    margin-right: 15px;
    cursor: pointer;
}
