* {
    /*background-color: var(--preto);*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
    

}

:root {
    --preto: #000000;
    --vermelho: #84141A;
    --branco: #ffffff;
    --cinza: #87898b;
    --cinza: #DCE0E6;
    /* cinza padrao*/
    --azul: #0C1556;
    --amarelo: #FBC02C;

    --font1: 'helvetica-compressed-5871d14b6903a.otf';
    --font2: 'Poppins', sans-serif;
    --font3: 'TTNorms-Regular.otf';
    --font4: 'Nova Flat', cursive;
}


/* Cabeçalho */
header {
    background-color: var(--preto);
    height: 70px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.posicionamento {
    width: 1400px;
    margin: 0 auto;
}

.posicionamento_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.posicionamento_header img {
    width: 35px;
    height: 28px;
}

.posicionamento_header>span {
    padding-left: 10px;
}

.logo {
    display: flex;
    align-items: center;
    color: var(--branco);
    width: 20px;
    height: 27px;
}

header nav {
    /* background-color: brown; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 450px;
}

header a {
    color: var(--amarelo);
    text-transform: uppercase;
    text-decoration: none;
    font-family: var(--font2);
    font-size: 16px;
}

/* barra de pesquisa */

#divBusca {
    background-color: #E0EEEE;
    border: solid 2px #fdf9f900;
    border-radius: 10px;
    width: 320px;
    height: 31px;
    margin-inline: auto;

}

#txtBusca {
    float: left;
    background-color: transparent;
    padding-left: 5px;
    font-size: 20px;
    border: none;
    height: 27px;
    width: 243px;
    border-radius: 8px;
}

#btnBusca {
    border: none;
    float: right;
    height: 28px;
    border-radius: 7px;
    width: 70px;
    font-weight: bold;
    background: #FBC02C;
    font-family: var(--font2);

}

img {
    width: 160px;
    /* displey flex */
}


aside nav {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 30px;
}

aside nav div img {
    width: 50px;

}

/*.ajuste{
   margin: 40px;
   text-align: center; */

aside a {
    color: var(--branco);
    font-family: var(--font2);
    text-decoration: none;

}

.menu_lateral {
    width: 20%;
    background-color: var(--preto);
}

.ajuste {
    display: flex;
    gap: 10px;
    align-items: center;
    text-transform: capitalize;
}

main {
    display: flex;
    width: 100%;
    background-color: var(--branco);
}

section {
    display: flex;
    width: 100%;
    background-color: var(--branco);
    padding: 80px;
    background-color: var(--preto);
}

section div {
    background-color: var(--branco);
    border-radius: 5px;
}

.imagem1 {
    width: 100%;
    height: 240px;
    border-radius: 3px;
}

.entre_imagens {
    width: 140px;
    display: flex;
    position: absolute;
    margin: 2px 50px 100px;

}

.tam {
    width: 20px;

}

.posicionamento_perfil {
    display: flex;
    align-items: center;

}

.posicionamento_perfil span {
    padding-left: 200px;
    font-size: 32px;
    font-family: var(--font2);
    font-weight: 600;

}

.posicionamento_perfil button {
    width: 130px;
    height: 40px;
    text-align: center;
    background-color: var(--amarelo);
    border-radius: 10px;
    justify-content: end;
    font-family: var(--font2);
    font-weight: 600;
    border: 10px;
    font-size: 16px;
    /* margin-left: 600px;*/
    /* margin-left: 600px;*/
    margin-left: 480px;
}

.estrutura {
    width: 100%;
    background-color: white;
    
}

.icons img {
    width: 20px;
    margin: 10px;
}

.icons {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 50px;
    font-family: var(--font2);
    
}

.text {
    font-family: var(--font2);
    display: flex;
    padding: 41px 60px 0;
}
.classificacao{
    color: var(--preto);
    font-family: var(--font2);
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--preto);
    padding: 63px 5px;
    border-radius: 0%;
    font-weight: 600;
    text-transform: uppercase;
}
.series{
    background-color: var(--amarelo);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}
.filmes{
    background-color: var(--amarelo);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;

}
.classificacao span{
    border-bottom: 3px solid black;
}



 .feed{
    width: 100%;


}
.feed_conteudo{
    width: 100%;
    font-family: var(--font2);
    text-align: left;
    font-size: 18px; 
    padding: 50px; 
}
.feed_conteudo img{
    width: 100%;
}
.botoes{
    display: flex;
    justify-content: space-evenly;

}
.usuario_feed{
 display: flex;
 align-items: center;
 
    
}

.usuario_feed img {
  margin: 30px;  
}
.textos_p {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: var(--font2);

}
.botoes_1{
    width: 130px;
    height: 40px;
    text-align: center;
    background-color: var(--amarelo);
    border-radius: 10px;
    font-family: var(--font2);
    font-weight: 600;
    border: 10px;
    font-size: 16px;
    background-color: var(--amarelo);
   
}
.botoes{
    display: flex;
    padding-bottom: 70px;

}